name: Check

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - uses: DeterminateSystems/nix-installer-action@main

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Check flake
        run: nix flake check --impure

      - name: Lint
        run: nix develop --command statix check .

      - name: Format check
        run: nix develop --command sh -c 'nixfmt --check $(find . -name "*.nix")'
